.love-button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s, color 0.3s;
    color: #27144b; /* Initial color */
}

.love-button:hover {
    color: #E0245E; /* Color on hover */
}

.love-button:active {
    transform: scale(0.95); /* Slight shrink on click */
}
