{% include "navbar.html" %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <div class="container mx-auto px-4 py-10 mt-3"> <!-- Tambahkan margin-top untuk memberikan jarak dari navbar -->
        <title>Contact Us - Jakarta Wardrobe</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <style>
            body {
                background-image: url('https://example.com/your-background-image.jpg'); /* Ganti dengan URL gambar latar belakang Anda */
                background-size: cover;
                background-color: #f5f5f5;
            }
        </style>    
</head>
<body class="bg-gray-100 font-sans">
    <div class="container mx-auto px-4 py-10 mt-20 bg-gray-200 rounded-lg shadow-lg">
        <h1 class="text-5xl font-bold text-center mb-8 text-gray-800">CONTACT US</h1>
        <div class="text-center text-gray-700">
            <p class="text-lg mb-4"><strong>Email:</strong> <a href="mailto:salomo.immanuel@ui.ac.id" class="text-blue-500 hover:underline">salomo.immanuel@ui.ac.id</a></p>
            <p class="text-lg"><strong>Alamat Kantor:</strong><br> JRPH+5J9 Fakultas Ilmu Komputer UI,<br> Pondok Cina, Kecamatan Beji,<br> Kota Depok, Jawa Barat 16424, Indonesia</p>
        </div>
    </div>
</body>
</html>
